body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.flagContainer {
  display: flex;
  width: 150px;
  flex-direction: column;
  margin-bottom: 10px;
}

/* Indonesia */
#indonesia > .top-half {
  height: 50px;
  background-color: red;
}
#indonesia > .bottom-half {
  height: 50px;
  background-color: white;
}
/* Colombia */

/* Ireland */

/* France */

/* Benin */

/* Sweden */

/* Switzerland */

/* Tonga */

/* Japan */

/* Canada */

/* Norway */

/* Greece */

/* Somalia */

/* Chile */

/* Turkey */

/* China */

/* Cuba */

/* Western Sahara */

/* Kuwait */

/* Venezuela */

/* Trinidad And Tobago */

/* United Kingdom */

/* New Zealand */

/* United States */

/* Seychelle */
