body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(247, 234, 211);
}

.flagContainer {
  height: 100px;
  width: 150px;
  margin-bottom: 10px;
}

/* Indonesia */
#indonesia > .top-half {
  height: 50px;
  background-color: red;
}
#indonesia > .bottom-half {
  height: 50px;
  background-color: white;
}

/* Colombia */
#columbia > .top {
  height: 50%;
  background-color: rgb(246, 209, 75);
}
#columbia > .middle {
  height: 25%;
  background-color: rgb(12, 59, 142);
}
#columbia > .bottom {
  height: 25%;
  background-color: rgb(190, 44, 47);
}

/* Ireland */
#ireland {
  display: flex;
  flex-direction: row;
}
#ireland > .left {
  width: 100%;
  background-color: rgb(71, 152, 103);
}
#ireland > .middle {
  width: 100%;
  background-color: white;
}
#ireland > .right {
  width: 100%;
  background-color: rgb(241, 141, 79);
}
/* France */
#france {
  display: block;
  font-size: 0;
}
#france > .left {
  height: inherit;
  width:50px;
  display: inline-block;
  background-color: rgb(0, 17, 103);
}
#france > .middle {
  height: inherit;
  width:50px;
  display: inline-block;
  background-color: white;
}
#france > .right {
  height: inherit;
  width:50px;
  display: inline-block;
  background-color: rgb(148, 28, 23);
}

/* Benin */
#benin > .left-container {
  float: left;
  height: inherit;
  width: 60px;
  background-color: rgb(58, 132, 86);
}
#benin > .right-container {
  float: left;
  height: inherit;
  width: 90px
}
#benin > .right-container > .top {
  height: 50%;
  width: 100%;
  background-color: rgb(246, 209, 75);
}
#benin > .right-container > .bottom {
  height: 50%;
  width: 100%;
  background-color: rgb(214, 50, 55);
}

/* Sweden */
#sweden {
  position: relative;
  background-color: rgb(40, 106, 162);
}
#sweden > .vertical-stripe {
  position: absolute;
  height: inherit;
  width: 20px;
  left: 30%;
  background-color: rgb(247, 204, 70);
}
#sweden > .horizontal-stripe {
  position: absolute;
  height: 20px;
  width: inherit;
  top: 40%;
  background-color: rgb(247, 204, 70);
}

/* Switzerland */
#switzerland {
  height: 20vmin;
  width: 20vmin;
  padding: 18px;
  background-color: rgb(235, 50, 35);
}
#switzerland > .cross {
  position: relative;
  height: inherit;
  width: inherit;
}
#switzerland > .cross > .vertical-stripe {
  position: absolute;
  height: inherit;
  width: 5vmin;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
}
#switzerland > .cross > .horizontal-stripe {
  position: absolute;
  height: 5vmin;
  width: inherit;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
}

/* Tonga */
#tonga {
  background-color: rgb(178, 35, 24);
}
#tonga > .top-left-element {
  height: 8vmin;
  width: 8vmin;
  padding: 10px;
  background-color: white;
}
#tonga > .top-left-element > .cross {
  position: relative;
  height: inherit;
  width: inherit;
}
#tonga > .top-left-element > .cross > .vertical-stripe {
  position: absolute;
  height: inherit;
  width: 1.8vmin;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(178, 35, 24);
}
#tonga > .top-left-element > .cross > .horizontal-stripe {
  position: absolute;
  height: 1.8vmin;
  width: inherit;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(178, 35, 24);
}

/* Japan */
#japan {
  display: flex;
  background-color: white;
}
#japan > .circle {
  height: 60px;
  width: 60px;
  margin: auto;
  border-radius: 50%;
  background-color: rgb(190, 44, 46);
}

/* Canada */
#canada {
  position: relative;
  background-color: rgb(197, 60, 44);
}
#canada > .center {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
}
#canada > .center::before {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 10px;
  left: -8px;
  content: '';
  background-image: url('./assets/images/canada_logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotateZ(29deg);
}

/* Norway */

/* Greece */

/* Somalia */

/* Chile */

/* Turkey */

/* China */

/* Cuba */

/* Western Sahara */

/* Kuwait */

/* Venezuela */

/* Trinidad And Tobago */

/* United Kingdom */

/* New Zealand */

/* United States */

/* Seychelle */
