body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(247, 234, 211);
}

.flagContainer {
  height: 100px;
  width: 150px;
  margin-bottom: 10px;
}

/* Indonesia */
#indonesia > .top-half {
  height: 50px;
  background-color: red;
}
#indonesia > .bottom-half {
  height: 50px;
  background-color: white;
}

/* Colombia */
#columbia > .top {
  height: 50%;
  background-color: rgb(246, 209, 75);
}
#columbia > .middle {
  height: 25%;
  background-color: rgb(12, 59, 142);
}
#columbia > .bottom {
  height: 25%;
  background-color: rgb(190, 44, 47);
}

/* Ireland */
#ireland {
  display: flex;
  flex-direction: row;
}
#ireland > .left {
  width: 100%;
  background-color: rgb(71, 152, 103);
}
#ireland > .middle {
  width: 100%;
  background-color: white;
}
#ireland > .right {
  width: 100%;
  background-color: rgb(241, 141, 79);
}
/* France */
#france {
  display: block;
  font-size: 0;
}
#france > .left {
  height: inherit;
  width:50px;
  display: inline-block;
  background-color: rgb(0, 17, 103);
}
#france > .middle {
  height: inherit;
  width:50px;
  display: inline-block;
  background-color: white;
}
#france > .right {
  height: inherit;
  width:50px;
  display: inline-block;
  background-color: rgb(148, 28, 23);
}

/* Benin */
#benin > .left-container {
  float: left;
  height: inherit;
  width: 60px;
  background-color: rgb(58, 132, 86);
}
#benin > .right-container {
  float: left;
  height: inherit;
  width: 90px
}
#benin > .right-container > .top {
  height: 50%;
  width: 100%;
  background-color: rgb(246, 209, 75);
}
#benin > .right-container > .bottom {
  height: 50%;
  width: 100%;
  background-color: rgb(214, 50, 55);
}

/* Sweden */
#sweden {
  position: relative;
  background-color: rgb(40, 106, 162);
}
#sweden > .vertical-stripe {
  position: absolute;
  height: inherit;
  width: 20px;
  left: 30%;
  background-color: rgb(247, 204, 70);
}
#sweden > .horizontal-stripe {
  position: absolute;
  height: 20px;
  width: inherit;
  top: 40%;
  background-color: rgb(247, 204, 70);
}

/* Switzerland */
#switzerland {
  height: 20vmin;
  width: 20vmin;
  padding: 18px;
  background-color: rgb(235, 50, 35);
}
#switzerland > .cross {
  position: relative;
  height: inherit;
  width: inherit;
}
#switzerland > .cross > .vertical-stripe {
  position: absolute;
  height: inherit;
  width: 5vmin;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
}
#switzerland > .cross > .horizontal-stripe {
  position: absolute;
  height: 5vmin;
  width: inherit;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
}

/* Tonga */
#tonga {
  background-color: rgb(178, 35, 24);
}
#tonga > .top-left-element {
  height: 8vmin;
  width: 8vmin;
  padding: 10px;
  background-color: white;
}
#tonga > .top-left-element > .cross {
  position: relative;
  height: inherit;
  width: inherit;
}
#tonga > .top-left-element > .cross > .vertical-stripe {
  position: absolute;
  height: inherit;
  width: 1.8vmin;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(178, 35, 24);
}
#tonga > .top-left-element > .cross > .horizontal-stripe {
  position: absolute;
  height: 1.8vmin;
  width: inherit;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(178, 35, 24);
}

/* Japan */
#japan {
  display: flex;
  background-color: white;
}
#japan > .circle {
  height: 60px;
  width: 60px;
  margin: auto;
  border-radius: 50%;
  background-color: rgb(190, 44, 46);
}

/* Canada */
#canada {
  position: relative;
  background-color: rgb(197, 60, 44);
}
#canada > .center {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
}
#canada > .center::before {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 10px;
  left: -8px;
  content: '';
  background-image: url('./assets/images/canada_logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotateZ(29deg);
}

/* Norway */
#norway {
  position: relative;
  background-color: rgb(221, 64, 57);
}
#norway > .vertical-stripe-container, #norway > .horizontal-stripe-container,
#norway > .vertical-stripe,
#norway > .horizontal-stripe {
  position: absolute;
  background-color: white;
}
#norway > .vertical-stripe-container,
#norway > .vertical-stripe {
  height: 100%;
  width: 25px;
  left: 30%;
}
#norway > .horizontal-stripe-container,
#norway > .horizontal-stripe {
  height: 25px;
  width: 100%;
  top: 40%;
}
#norway > .vertical-stripe,
#norway > .horizontal-stripe {
  background-color: rgb(7, 42, 100);
}
#norway > .vertical-stripe {
  left: 34%;
  width: 12.5px;
}
#norway > .horizontal-stripe {
  top: 46%;
  height: 12.5px;
}

/* Greece */
#greece {
  position: relative;
  background-color: white;
}
#greece > .bar {
  height: 11.2px;
  width: 100%;
}
#greece > .bar:nth-child(even) {
  background-color: rgb(37, 95, 169);
}
#greece > .top-left-element {
  height: 12.3vmin;
  width: 12.3vmin;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(37, 95, 169);
}
#greece > .top-left-element > .cross {
  position: relative;
  height: inherit;
  width: inherit;
}
#greece > .top-left-element > .cross > .vertical-stripe {
  position: absolute;
  height: inherit;
  width: 11.2px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
}
#greece > .top-left-element > .cross > .horizontal-stripe {
  position: absolute;
  height: 11.2px;
  width: inherit;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
}
/* Somalia */
#somalia {
  text-align: center;
  background-color: rgb(80, 138, 215);
}
#somalia > .star {
  line-height: 100px;
  font-size: 3em;
  color: white;
}

/* Chile */
#chile {
  text-align: center;
  background-color: white;
}
#chile > .content-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
#chile > .content-container > .star {
  line-height: 50px;
  font-size: 1.5em;
  height: 50px;
  width: 50px;
  color: white;
  background-color: rgb(10, 61, 160);
}
#chile > .content-container > .stripe {
  height: 50px;
  width: 100%;
  background-color: rgb(197, 60, 44);
}

/* Turkey */
#turkey {
  position: relative;
  background-color: rgb(209, 46, 40);
}

#turkey > .content-container {
  position: absolute;
  top: 25px;
  left: 25px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#turkey > .content-container > .crescent {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
}

#turkey > .content-container > .crescent > .occlusion {
  height: 40px;
  width: 40px;
  margin-right:-1px;
  border-radius: 50%;
  background-color: rgb(209, 46, 40);
}

#turkey > .content-container > .star {
  font-size: 27px;
  margin-left: -5px;
  color: white;
  transform: rotate(-15deg);
}

/* China */

/* Cuba */

/* Western Sahara */

/* Kuwait */

/* Venezuela */

/* Trinidad And Tobago */

/* United Kingdom */

/* New Zealand */

/* United States */

/* Seychelle */
